%Highlight {
  background-image: linear-gradient(to right, white 50%, yellow 50%);
  background-size: 200%;
  transition: background-position 0.5s;
  &:hover {
    background-position: -100%;
  }
}

.Bio {
  font-size: 24px;
  margin-bottom: 32px;
  line-height: 2rem;
  max-width: 840px;

  .HighlightFirst {
    @extend %Highlight;
    animation: 2s highlighter;
  }

  .HighlightSecond {
    @extend %Highlight;
    animation: 2s highlighter;
    animation-delay: 2s;
  }

  .Underline {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: black;
      animation: 2s fadeIn;
      animation-fill-mode: forwards;
      visibility: hidden;
      transition: all 0.5s ease-in-out;
    }

    &:hover::before {
      visibility: visible;
      width: 100%;
    }
  }
}

@keyframes highlighter {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: -100%;
  }
  75% {
    background-position: -100%;
  }
  100% {
    background-position: -0%;
  }
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
