.Articles {
  .Article {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    .Title {
      color: blue;
      font-family: Univers;

      &:hover {
        color: hotpink;
      }
    }
  }

  .Format,
  .Date {
    font-style: italic;
  }
}
